label {
    font-size: 19px;
    box-sizing: border-box;
};

input {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
};

.btn {
    padding: 4px;
    background-color: #129a80;
    border: #000 solid 2px;
    border-radius: 4px;
    color: #fff;
    box-sizing: content-box;
    &:hover {
        cursor: pointer;
        background-color: #0d715e;
    }
};

li {
    font-weight: normal;
    font-size: 17px;
}