label {
    font-size: 21px;
};

input {
    display: block;
    margin-top: 12px;
};

.titulo {
    font-weight: bold;
    font-size: 18px;
};

.btn {
    padding: 4px;
    background-color: #129a80;
    border: #000 solid 2px;
    border-radius: 4px;
    color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #0d715e;
    }
};

#resultado {
    font-size: 17px;
}